*{
    box-sizing: border-box;
}

.navbar{
	background: white;
    margin:0px 30px 0px 30px;
}

.search{
	float:right;	
}

.nav-item a:hover{
	background-color:grey;
	color:white;
	padding:5px;
	border-radius:7px;
}

.nav-item  a:link{
	color:White;
}

.carousel-item img{
	height:800;
	width:100%;

}	


.card-body a:hover{
	color:orange;
	text-decoration:none;
}

.card-deck img{
    height:300px;
    width:100%;
}

.card-body{
    height:300px;
    width:100%;
}

.carousel{
    margin:0px 15px 55px 15px;
}

.card-deck{
    margin-left:30px;
}

.card{
    margin:20px;
}

.col-sm-4{
    padding:0px;
}

body{
    background-color:white;
}

.news-today h3{
    margin-left:30px;
    color:white;
}

.owl-carousel{
    width:100%;
    height:400px;
    background-color:white;
    margin:30px;
    padding:30px;
}

.editor h3{
    margin-left:30px;
    margin-top:20px;
    color:white;
}

footer h3{
    margin-left:30px;
    color:black;
}

footer{
    margin-left:30px;
    margin-right:30px;
    background-color:grey;
    height:400px;
}

.poll{
    height:300px;
    margin:60px 25px 20px 0px;
    background-color:white; 
}

.poll h3{
    color:black;
}

.trading-view-container{
    margin:50px;
    padding:50px;
}

.container{
    padding-left:0px;
}

.additional-news .card img{
    height:10px;
    width:10px;
}

.search-bar{
    margin:10px 0px 0px 100px;
}

.Login{
    margin-top:6px;
}


.post-date{
    background:grey;
    padding: 4px;
    margin: 3px 0;
    display: block;
}

.post-body{
    margin:30px;
}

.post-thumb{
    width:100%;
}

.pagination-links{
    margin: 30px 0;
}

.pagination-links strong{
    padding: 8px 13px;
    margin: 5px;
    background: #f4f4f4;
    border: 1px #ccc solid;
}


a.pagination-link{
    padding: 8px 13px;
    margin: 5px;
    background: #f4f4f4;
    border: 1px #ccc solid;
}

.cat-delete{
    display: inline;
}